$font-stack: Helvetica, sans-serif;
$text-color: #fff;
$button-color-dark: rgb(29, 28, 27);


body {
  font: 100% $font-stack;
  color: $text-color;
}
//main-heading
.main-heading{
    color: $text-color;
}
// Signup & Login Form Styling

.form-flex{
    display: flex;
    flex-direction: column;
    margin: 8% auto;
    max-width: 400px;
    border: solid 1px rgb(29, 28, 27);
    padding: 50px;
    Button{
     
        background-color: $button-color-dark ;
        color: $text-color;
    }
    Button:hover{
        color: $button-color-dark;
        border: 1px solid $button-color-dark ;
    }
}

.choose-file::-webkit-file-upload-button {
    visibility: hidden;

  }

  .btn-link
  {
      display: flex;
      justify-content: center;

      p
      {
          padding-left: 10px;
          padding-right: 10px;
          font-weight: bolder;
          font-size: 20px;
      }
      Link{
        
              font-size: 50px;
              font-weight: bolder;
              padding-left: 10px;
              padding-right: 10px;
              color: $button-color-dark;
            

         }
  }


  // Profile Setting

  .profile{
      img{
          border-radius: 100%;
          height: 75px;
          width: 75px;
      }
  }
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8% auto;
    max-width: 450px;
    border: 1px solid #262626;
        img{
            display: flex;
            border-radius: 100%;
            border: 1px solid #262626;
            height: 150px;
            width: 150px;
            margin: auto;
        }
        p{
            display: flex;
            justify-content: center;
            font-size: 10px;
            margin-top: 25px;
            font-style: italic;
            font-weight: bolder;
    
            Input{
                text-align: center;
                font-weight: 200;
                font-size: 15px;
                font-style: italic;        
                       
            }
            Button{
                font-weight: bolder;
                background-color: #262626;
                color: $text-color;
                :hover
                {
                    color: #262626;
                  
                }
            }
            
        }   

      }
 
.post-container
{
    color: #262626;
    text-align: center;
    max-width: 800px;
    padding: 25px;
}

.post-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 750px;
    height: auto;
    border: #262626 solid 1px;
    box-shadow: 5px 5px 5px grey;
    padding: 50px;
    margin: 10px;
    .createdBy{
        text-align: left;
    }
    div{
        padding: 10px;
        img{
            width: 300px;
            height: 300px;
        }

    }

}
  
