.regForm{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 10% auto;
}
.regHeaderHeading{
    color: white;
}
.bgColor{
    margin:25px 0px;
    background-color: #141414;
   
}
.bgColor > h3{
    
    color: white;
    text-align: center;

}

.profile
{
    margin: 0% auto;
}

.regBtn
{
    margin-left: 100px ;
}
.loginBtn{
    background-color: #141414;
}